BMC_WEBHOOK_SECRET=
CREDITS_PER_DOLLAR=200
FRONTEND_URL=http://localhost:3000
GROQ_API_KEY=
NODE_ENV=development
PORT=5002
SESSION_SECRET=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
VITE_API_URL=http://localhost:5002
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=
